/**
 * vars.scss
 */

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
$font: "Inter", sans-serif;
$margin: 10px;
$background-image: url("../img/bg.jpg");
$background-color: rgb(10, 2, 29);
$font-size: 10px;
$line-height: 10px;
